<!-- <nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
  		<h3>
  			<font color="silver"><u><sub>Foody 360</sub></u></font>
  			<sup><img src="images/icons/chefHat.png"></sup>
  		</h3>
	</div>

    <div class="nav navbar-nav">
      <h3>
        <font color="silver"><u><sub>admin Dashboard</sub></u></font>
      </h3>
    </div>

    <div class="collapse navbar-collapse" id="adminHeaderNavBar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <h5>
          <font color="silver"><u><sub>Foody 360</sub></u></font>
          <sup><img src="images/icons/chefHat.png"></sup>
        </h5>
      </div>
      <div class="col-xs-6 col-sm-4">
        Date & Time: {{loggedInDateTime}}<ds-widget-clock theme="dark" show-secs="true" digital-format="'hh:mm:ss'"></ds-widget-clock>
      </div>
      <div class="col-xs-6 col-sm-2" ng-show="showUserWelcome">
        <span class="glyphicon glyphicon-user" style="color: white"></span>Welcome  {{username}}
      </div>
       <div class="col-xs-6 col-sm-2" ng-show="showUserWelcome">
        <div style="float:right">
        <a href="#" style="color: white" ><span class="glyphicon glyphicon-log-out" ></span> Logout</a>
      </div>
      </div>
    </div>
  </div>
</div>

